
::ng-deep .mat-card
{
    box-shadow: 0px 0px 4px 1px #d7d7d7;
    background-color: #fcfcfc;
    border-radius: 8px 8px 8px 8px;
    height: 400px;
    width: 400px; 
    margin-left: 34%;
    margin-top: 10%;
    overflow: hidden;
}
.input4{
    outline: #cccccc;
    box-shadow: 0px 0px 3px 0px #a7a7a7;
    border-width: 1px;
    border-top: #3f3f3f;
    border-bottom: #3f3f3f;
    border-left: #3f3f3f;
    border-right: #3f3f3f;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 71%;
    border-radius: 20px;
    background-color: #ebebeb;
    justify-content: center;
    display: block;
}
::placeholder {
    padding-left: 10px;
    font-size: 13px;
}
.row{
    position:absolute;
    top: 0%;
    height: 80px;
    background-color:#6fb554 ;
    width: 100%;
    margin-left: -16px;
}
.Card {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 3px 0px #a7a7a7;;
}
.esehat{
    text-align: center !important;
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.save{
    background-color: #6fb554;
    height: 33px;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    box-shadow: 0px 0px 3px 1px #d7d7d7;
    border-width: 1px;
    border-top: #3f3f3f;
    border-bottom: #3f3f3f;
    border-left: #3f3f3f;
    border-right: #3f3f3f;
    justify-content: center;
    display: block;
    border-radius: 20px;
}
input {
    padding-left: 18px;
    line-height: 1em;
 }
.error{
    font-size: 13px;
    color: red;
    margin-left: 60%;
}
.error1{
    font-size: 16px;
    color: rgb(0, 0, 0);
}